/* Structure */ 
body { 
    background: #0460D9;
    font-family: Arial, Helvetica, sans-serif;

}

/* Navigation */
a { 
    text-decoration: none;
    background: #F2A2C8;
    color: black;
    padding: 4px;
    border-radius:3px;
}
a:hover { 
    background:#223038 ;
}
/* Images */
img {
    border:5px solid #121B26;
    border-radius: 5px;
}
    
 /* Tables */
table {
    border-collapse: collapse;
}

th,
 td { 
    border: 1px solid 113388;
    padding: 4px;
    }
th { 
    background:#F25270;
}
td { 
    background: #F2F2F2;
}
 /* Typography */
 h1 {color: 
    #44A1F2;
     font-style: italic;
}
h2 { 
    color: #F2A2C8;
}
